<%- include ('./partials/_dashboardHeader') %>

  <div class="container-fluid">
    <div class="row">
      <%- include ('./partials/_sidebarmenu') %>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">
              مرحبا
            </h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar" class="align-text-bottom"></span>
                This week
              </button>
            </div>
          </div>

          <!-- nav-optins -->

          <%- include ('./partials/_navoption') %>



            <!-- slide -->
            <%- include ('./partials/_carasel') %>
              <br>
              <br>

              <!-- المنتجات -->

              <h1> ابحث عن منتج</h1>

              <!-- منتج التلفونات -->
              <!-- <div class="pro">
                                <h1 class="">الكترونيات</h1>
                                <div class="proall d-flex ">
                                    <div class="card bg-info" style="width: 10rem;">
                                        <img class="card-img-top" src="/imgs/annie-spratt-01Wa3tPoQQ8-unsplash.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">اسم المنتج</h5>
                                            <p class="card-text">50000 جنية</p>
                                            <a href="#" class="btn btn-primary">عرض التفاصيل</a>
                                        </div>
                                    </div>

                                    <div class="card bg-info" style="width: 10rem;">
                                        <img class="card-img-top" src="/imgs/annie-spratt-01Wa3tPoQQ8-unsplash.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">اسم المنتج</h5>
                                            <p class="card-text">50000 جنية</p>
                                            <a href="#" class="btn btn-primary">عرض التفاصيل</a>
                                        </div>
                                    </div>

                                    <div class="card bg-info" style="width: 10rem;">
                                        <img class="card-img-top" src="/imgs/annie-spratt-01Wa3tPoQQ8-unsplash.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">اسم المنتج</h5>
                                            <p class="card-text">50000 جنية</p>
                                            <a href="#" class="btn btn-primary">عرض التفاصيل</a>
                                        </div>
                                    </div>

                                    <div class="card bg-info" style="width: 10rem;">
                                        <img class="card-img-top" src="/imgs/annie-spratt-01Wa3tPoQQ8-unsplash.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">اسم المنتج</h5>
                                            <p class="card-text">50000 جنية</p>
                                            <a href="#" class="btn btn-primary">عرض التفاصيل</a>
                                        </div>
                                    </div>

                                    <div class="card bg-info" style="width: 10rem;">
                                        <img class="card-img-top" src="/imgs/annie-spratt-01Wa3tPoQQ8-unsplash.jpg"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">اسم المنتج</h5>
                                            <p class="card-text">50000 جنية</p>
                                            <a href="#" class="btn btn-primary">عرض التفاصيل</a>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
              <!-- 
              <div class="pro-con">
                <div class="title-pro">
                  <h1>عنوان هنا</h1>
                  <a href="/"> اعرض المزيد من العنوان</a>
                </div>
                <div class="flex-con">
                  <div class="item-1">
                    <div class="card">
                      <div class="img-con">
                        <img src="/portfolio-2.jpg" alt="" srcset="">
                      </div>
                      <div class="card-det">
                        <a class="card-t" href="/">عنوان المنتج</a>
                        <h4 class="price">45888 جنية</h4>
                      </div>
                    </div>
                  </div>

                  <div class="item-1">
                    <div class="card">
                      <div class="img-con">
                        <img src="/avatar.jpg" alt="" srcset="">
                      </div>
                      <div class="card-det">
                        <a class="card-t" href="/">عنوان المنتج</a>
                        <h4 class="price">45888 جنية</h4>
                      </div>
                    </div>
                  </div>

                  <div class="item-1">
                    <div class="card">
                      <div class="img-con">
                        <img src="/portfolio-5.jpg" alt="" srcset="">
                      </div>
                      <div class="card-det">
                        <a class="card-t" href="/">عنوان المنتج</a>
                        <h4 class="price">45888 جنية</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="link-pro">
                  <a href="/">اعرض المزيد</a>
                </div>
              </div> -->



              <!-- سيارات -->
              <div class="pro-con">

                <div class="title-pro">
                  <h1>سيارات </h1>
                  <a href="/"> اعرض المزيد من العنوان</a>
                </div>
                <div class="flex-con">
                  <% march.forEach(e=> { %>
                    <% if(e.catogery==='cars' ){ %>
                      <div class="item-1">
                        <div class="card">


                          <div class="img-con">
                            <img src="/uploads/<%= e.image %>" alt="" srcset="">
                          </div>
                          <div class="card-det">
                            <a class="card-t" href="/prodects/<%- e._id %> ">
                              <%= e.title %>
                            </a>
                            <h4 class="price">
                              <%= e.prise %> جنية
                            </h4>
                          </div>
                        </div>

                      </div>

                      <% }; %>

                        <% }); %>

                </div>
                <div class="link-pro">
                  <a href="/">اعرض المزيد</a>
                </div>

              </div>
              <!-- موضه -->

              <div class="pro-con">

                <div class="title-pro">
                  <h1>موضه </h1>
                  <a href="/"> اعرض المزيد من العنوان</a>
                </div>
                <div class="flex-con">
                  <% march.forEach((e)=> { %>
                    <% if(e.catogery==='fashon' ){ %>
                      <div class="item-1">
                        <div class="card">

                          <div class="img-con">
                            <img src="/uploads/<%= e.image %>" alt="" srcset="">
                          </div>
                          <div class="card-det">
                            <a class="card-t" href="/prodects/<%- e._id %> ">
                              <%= e.title %>
                            </a>
                            <h4 class="price">
                              <%= e.prise %> جنية
                            </h4>
                          </div>
                        </div>

                      </div>

                      <% }; %>

                        <% }); %>

                </div>
                <div class="link-pro">
                  <a href="/">اعرض المزيد</a>
                </div>

              </div>

              <!-- الكترونيات -->

              <div class="pro-con">

                <div class="title-pro">
                  <h1>الكترونيات </h1>
                  <a href="/"> اعرض المزيد من العنوان</a>
                </div>
                <div class="flex-con">
                  <% march.forEach(e=> { %>
                    <% if(e.catogery==='eloctronic' ){ %>
                      <div class="item-1">
                        <div class="card">


                          <div class="img-con">
                            <img src="/uploads/<%= e.image %>" alt="" srcset="">
                          </div>
                          <div class="card-det">
                            <a class="card-t" href="/prodects/<%- e._id %> ">
                              <%= e.title %>
                            </a>
                            <h4 class="price">
                              <%= e.prise %> جنية
                            </h4>
                          </div>
                        </div>

                      </div>

                      <% }; %>

                        <% }); %>

                </div>
                <div class="link-pro">
                  <a href="/">اعرض المزيد</a>
                </div>

              </div>

              <!-- عقارات -->
              <div class="pro-con">

                <div class="title-pro">
                  <h1>عقارات </h1>
                  <a href="/"> اعرض المزيد من العنوان</a>
                </div>
                <div class="flex-con">
                  <% march.forEach(e=> { %>
                    <% if(e.catogery==='realstate' ){ %>
                      <div class="item-1">
                        <div class="card">


                          <div class="img-con">
                            <img src="/uploads/<%= e.image %>" alt="" srcset="">
                          </div>
                          <div class="card-det">
                            <a class="card-t" href="/prodects/<%- e._id %> ">
                              <%= e.title %>
                            </a>
                            <h4 class="price">
                              <%= e.prise %> جنية
                            </h4>
                          </div>
                        </div>

                      </div>

                      <% }; %>

                        <% }); %>

                </div>
                <div class="link-pro">
                  <a href="/">اعرض المزيد</a>
                </div>

              </div>

              <!-- منتجات الاطفال-->
              <div class="pro-con">

                <div class="title-pro">
                  <h1>منتجات الاطفال</h1>
                  <a href="/"> اعرض المزيد من العنوان</a>
                </div>
                <div class="flex-con">
                  <% march.forEach(e=> { %>
                    <% if(e.catogery==='kids' ){ %>
                      <div class="item-1">
                        <div class="card">


                          <div class="img-con">
                            <img src="/uploads/<%= e.image %>" alt="" srcset="">
                          </div>
                          <div class="card-det">
                            <a class="card-t" href="/prodects/<%- e._id %> ">
                              <%= e.title %>
                            </a>
                            <h4 class="price">
                              <%= e.prise %> جنية
                            </h4>
                          </div>
                        </div>

                      </div>

                      <% }; %>

                        <% }); %>

                </div>
                <div class="link-pro">
                  <a href="/">اعرض المزيد</a>
                </div>

              </div>

              <!-- مستحضرات التجميل -->

              <div class="pro-con">

                <div class="title-pro">
                  <h1>مستحضرات التجميل </h1>
                  <a href="/"> اعرض المزيد من العنوان</a>
                </div>
                <div class="flex-con">
                  <% march.forEach(e=> { %>
                    <% if(e.catogery==='makeup' ){ %>
                      <div class="item-1">
                        <div class="card">


                          <div class="img-con">
                            <img src="/uploads/<%= e.image %>" alt="" srcset="">
                          </div>
                          <div class="card-det">
                            <a class="card-t" href="/prodects/<%- e._id %> ">
                              <%= e.title %>
                            </a>
                            <h4 class="price">
                              <%= e.prise %> جنية
                            </h4>
                          </div>
                        </div>

                      </div>

                      <% }; %>

                        <% }); %>

                </div>
                <div class="link-pro">
                  <a href="/">اعرض المزيد</a>
                </div>

              </div>

              <!-- اخري -->

              <div class="pro-con">

                <div class="title-pro">
                  <h1>منتجات اخري</h1>
                  <a href="/"> اعرض المزيد من العنوان</a>
                </div>
                <div class="flex-con">
                  <% march.forEach(e=> { %>
                    <% if(e.catogery==='others' ){ %>
                      <div class="item-1">
                        <div class="card">


                          <div class="img-con">
                            <img src="/uploads/<%= e.image %>" alt="" srcset="">
                          </div>
                          <div class="card-det">
                            <a class="card-t" href="/prodects/<%- e._id %> ">
                              <%= e.title %>
                            </a>
                            <h4 class="price">
                              <%= e.prise %> جنية
                            </h4>
                          </div>
                        </div>

                      </div>



                      <% } %>


                        <% }); %>

                </div>
                <div class="link-pro">
                  <a href="/">اعرض المزيد</a>
                </div>

              </div>
              <!-- footer -->
              <%- include ('./partials/_footer') %>

                <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                    class="bi bi-arrow-up-short"></i> </a>
        </main>
    </div>
  </div>