


<%- include ('../partials/_dashboardHeader') %>

<div class="container-fluid">
    <div class="row">

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <%- include ('../partials/_sidebarmenu') %>

            <%- include ('../partials/_ads') %>

            <h2>السلع المضافة للمفضلة %>
            </h2>




            <nav aria-label="d-flex">
              <ol class="nav">
                <li class="nav-item btn"><a href="/user/profile">ملفي الشخصي</a></li>
                <li class="nav-item btn"><a href="/myfav">المفضلة</a></li>
                <li class="nav-item btn"><a href="/prodects/myProdects"> منتجاتي</a></li>
                <!-- <li class="nav-item btn" aria-current="page">  </li> -->
              </ol>
            </nav>


<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

 
    <% favorites.forEach(function(prodect, index){ %>
 

      <a href="/prodects/<%= prodect._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="<%= prodect.image[0] %>" alt="<%= prodect.image %>" loading="lazy">
        </div>
        <div class="pt-1">
          <%= prodect.name %>
        </div>
      </a>
      
      <% }) %>

     
       
</div>






</main>
</div></div>