<%- include ('../partials/_dashboardHeader') %>

    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/_sidebarmenu') %>


                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">



                    <div class="prodect-con">


                        <div class="products">
                            <div class="card">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="/uploads/<%= e.image %>" width="100%" alt="" srcset="">

                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <a href="" class="">
                                                    <%= e.title %>
                                                </a>
                                                <p class="card-text">
                                                    السعر <%= e.prise %> SDG
                                                </p>
                                                <p class="card-text body-pro">
                                                    <%= e.body %>
                                                </p>
                                                <p class="card-text">

                                                </p>
                                                <p class="card-text"><small class="text-muted">

                                                        تم الرفع بواسطه <a href="/">
                                                            <%= e.user.name %>
                                                        </a>
                                                        قبل <%= moment(e.createdAt).fromNow() %>

                                                    </small>


                                                </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>






                </main>
        </div>
    </div>