<%- include ('../partials/_dashboardHeader') %>

    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/_sidebarmenu') %>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">



                    <%- include ('../partials/_ads') %>


                    <%- include ('../partials/error') %>



                    <div class="carousel-pro">

         
                    <div id="myCarousel" class="carousel slide slide_pro" data-bs-ride="carousel">

                      <div class="carousel-inner">
                          <a href="<%- e.image[0] %>" class="carousel-item active">
                              <img id="img1" src="<%- e.image[0] %>" alt="<%- e.image[0] %>" srcset="">
                  
                              
                          </a>
                          <a href="<%- e.image[1] %>"  class="carousel-item">
                              <img src="<%- e.image[1] %>" alt="<%- e.image[1] %>" srcset="">
                  
                          </a>
                          <a href="<%- e.image[2] %>"  class="carousel-item">
                              <img src="<%- e.image[2] %>" alt="<%- e.image[2] %>" srcset="">
                  
                          </a>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">السابق</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">التالي</span>
                      </button>

              
                  </div>
      
                  <div class="carousel-indicato">
                    <img src="<%- e.image[0] %>" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="Slide 1">
                    <img src="<%- e.image[1] %> " data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2">
                    <img src="<%- e.image[2] %> " data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3">
                  </div> 

                </div>  

                


                <div class="table-responsive m-2 t_pro">
                    <table class="table table-striped table-sm">
                      <!-- <thead>
                        <tr>
                          <th scope="col"> </th>
                          <th scope="col"></th>
                        </tr>
                      </thead> -->
                      <tbody>
                        <tr>
                          <td>الاسم </td>
                          <td> <%- e.name %></td>
                        </tr>
                        <tr>
                          <td>العنوان </td>
                          <td><%- e.address %></td>
                        </tr>
                        
                        <tr>
                          <td>للتواصل</td>
                          <td><a class="btn  btn-outline-dark" href="tel:<%- e.phone %>"><%- e.phone %></a></td>
                        </tr>

                        <tr>
                          <td>التفاصيل</td>
                          <td><%- e.body %></td>
                        </tr>

                        <% if(e.modal){ %>               
                            <tr>
                                <td>موديل</td>
                                <td><%= e.modal %></td>
                            </tr>
                        <% } %>
                        
                      
                       
                    <% if(e.gas){ %>
                        <tr>
                          <td>الوقود</td>
                          <td><%= e.gas %></td>
                        </tr>
                    <% } %>


                    <% if(e.conditions){ %>
                        <% if(e.conditions==="new" ){ %>
                            <tr>
                                <td>الحالة</td>
                                <td>جديد</td>
                            </tr>                          
                        <% } %>
                        <% if(e.conditions==="use" ){ %>
                            <tr>
                                <td>الحالة</td>
                                <td>مستعمل</td>
                            </tr>
                        <% } %>
                    <% } %>


                    <% if(e.owners){ %>                      
                        <tr>
                            <td>نوع الملكية </td>
                            <td><%= e.owners %></td>
                        </tr>
                    <% } %>
                        

                        <tr>
                          <td>السعر</td>
                          <td><%= e.prise %> ج س </td>
                        </tr>
                    
                      </tbody>
                    </table>
                  </div>

                    <h2 class="lead m-2">
                        <small class="text-muted">    تمت الاضافة بواسطة
                          <a href="/user/<%= e.user._id %>/profile" style="text-decoration: none;">
                        <%= e.user.displayName %>   
                          </a>
                               <span class="mx-2"> <%= moment(e.createdAt).locale('ar').fromNow() %></span>
        
                        </small>
                    </h2>

                        <div class="icons">
                    <form action="/prodects/<%= e._id %>/report" method="post" id="report">
                        <input type="hidden" name="_method" value="put">
                        
                        
                <button onclick="report()" type="submit" class="btn mb-4" id="shareBtn">الابلاغ عن السلعة  <i class="fa fa-flag"></i></button>    
                    </form>

              
                    <% if (!x) { %>
                        <form action="/prodects/<%= e._id %>/favorite" method="post">
                            <input type="hidden" name="_method" value="put">
                     
                        <button type="submit" class="btn mb-4" id="shareBtn">اضافه للمفضلة  <i class="fa fa-heart"></i></button>    
                        </form>
                        <% } %> 
                        <% if (x) { %>
                            <form action="/prodects/<%= e._id %>/unfavorite" method="post">
                                <input type="hidden" name="_method" value="put">
                         
                            <button type="submit" class="btn mb-4" id="shareBtn">ازالة من المفضلة  <i class="fa fa-heart text-danger"></i></button>    
                            </form>
                            <% } %> 
                    <button onclick="share()" class="btn mb-4" id="shareBtn">المشاركة  <i class="fa fa-share"></i></button>    
                    
                        </div>
                   
                  
                      
                </main>
        </div> 
    </div>
