<%- include ('../partials/_dashboardHeader') %>

    <div class="container-fluid">
        <div class="row">
            <%- include ('../partials/_sidebarmenu') %>
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">



                    <%- include ('../partials/_ads') %>


                        <div class="prodect-secetion">
                            <div class="row">

                                <div class="col-12 col-md-4">
                                    <img src="<%- e.image %>" class="img-fluid sticky-top" style="top: 20px; z-index: 1;"
                                        alt="<%- e.name %>" loading="lazy">
                                </div>


                                <div class="col-12 col-md-8">
                                    <div class="row py-2">

                                        <div class="col-12">

                                            <h1>
                                                اسم السلعة : <%- e.name %>
                                          
                                            </h1>
                                        </div>

                                        <h4>
                                            
                                        </h4>


                                        <h4>
                                            العنوان البائع : <%- e.address %>
                                        </h4>


                                        <h4>
                                            رقم الهاتف : <%- e.phone %>
                                        </h4>


                                        <h4>
                                            التفاصيل : <%- e.body %>
                                        </h4>

                                        <div class="col-12 mb-4"><i class="bi bi-tag"></i>
                                            السعر : <%= e.prise %> SDG
                                        </div>

                                        <% if(e.modal){ %>
                                            <h1>
                                                موديل : <%= e.modal %>
                                            </h1>
                                            <% } %>

                                                <% if(e.gas){ %>
                                                    <h1>
                                                        نوع اوقود : <%= e.gas %>
                                                    </h1>
                                                    <% } %>


                                                        <% if(e.conditions){ %>
                                                            <% if(e.conditions==="new" ){ %>
                                                                <h1>
                                                                    الحالة : جديد
                                                                </h1>
                                                                <% } %>
                                                                    <% if(e.conditions==="use" ){ %>
                                                                        <h1>
                                                                            الحالة : مستخدم
                                                                        </h1>
                                                                        <% } %>
                                                                            <% } %>




                                                                                <% if(e.owners){ %>
                                                                                    <h1>
                                                                                        <%= e.owners %>
                                                                                    </h1>
                                                                                    <% } %>


                                                                                        <p class="lead">

                                                                                            <small class="text-muted">
                                                                                                تم الرفع بواسطه
                                                                                                <a href="/">
                                                                                                        <%= e.user.displayName %>      
                                                                                                </a>
                                                                                                منذ
                                                                                                <%= moment(e.createdAt).fromNow() %>
                                             
                                                                                            </small>
                                                                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
<div class="mb-3">
                        <button onclick="share()" class="btn" id="shareBtn">المشاركة  <i class="fa fa-share"></i></button>    
</div>

                </main>
        </div> 
    </div>
