<%- include ('../partials/_dashboardHeader') %>


    <div class="container-fluid">
        <div class="row">

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <%- include ('../partials/_sidebarmenu') %>

                <%- include ('../partials/_ads') %>

<%= user.displayName %> 

<br>
<br>
<br>
<br>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(typeof userpro !=='undefined' && userpro.length> 0) { %>
      <% userpro.forEach(function(prodect, index){ %>
        <a href="/prodects/<%= prodect._id %>" class="col text-center category__link">
          <div class="category__img category__img--large shadow">
            <img src="<%= prodect.image %>" alt="<%= prodect.name %>" loading="lazy">
          </div>
          <div class="pt-1">
            <%= prodect.name %>
          </div>
        </a>
        <% }) %>
          <% } else { %>
            <p>لا يوجد منتج</p>
            <% } %>
  </div>
            
            </main>
        </div>
    </div>
    </div>